@import "../../css/colors.css";

.container {
    appearance: none;
    padding: 0;
    border: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 0.75rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $looks-secondary;
    border-radius: 0.5rem;
}

.container + .container {
    margin-top: 1.25rem;
}

.title {
    margin-top: 0.5rem;
    text-align: center;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

.container:active:not(:disabled) {
    background-color: $looks-light-transparent;
}

.container:focus-visible {
    outline: 2px solid $looks-secondary;
    outline-offset: 3px;
}
